<div class="form">

  <div class="form-table">
  <%= form_with(model: job, local: true, url: url) do |form| %>

  <table>
    <tr class="field">
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title, id: :job_title %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :description %></td>
      <td><%= form.text_area :description, id: :job_description %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :origin %></td>
      <td><%= form.text_field :origin, id: :job_origin %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :destination %></td>
      <td><%= form.text_field :destination, id: :job_destination %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :cost %></td>
      <td><%= form.number_field :cost, id: :job_cost %></td>
    </tr>

    <tr class="field">
      <td><%= form.label :containers %></td>
      <td><%= form.number_field :containers, id: :job_containers %></td>
    </tr>

    <tr class="actions">
      <td></td>
      <td><%= form.submit %></td>
    </tr>
  </table>
  <% end %>

  </div>
</div>

