

<div class="job-profile" class="page">

	<h1 style="display: inline;"><%= @job.title %></h1> | <%= link_to 'Edit job', edit_job_path(@job) %><br>
	<p>Description: <%= @job.description %></p>
	<p>Origin:  <%= @job.origin %></p>
	<p>Destination: <%= @job.destination %></p>
	<p># of Containers: <%= @job.containers %></p>
	<p>Cost: <%= @job.cost %><br>

	<%= link_to 'Delete job', delete_job_path(@boat, @job), method: :delete %>

</div>