<%= render 'users/navbar' %>

<div class="job-profile">

	<h1 style="display: inline;"><%= @job.title %></h1> | <%= link_to 'Edit Job', edit_job_path(@job) %><br>
	Description: <%= @job.description %><br>
	Origin:  <%= @job.origin %><br>
	Destination: <%= @job.destination %><br>
	# of Containers: <%= @job.containers %><br>
	Cost: <%= @job.cost %><br>

	<%= link_to 'Delete Job', delete_job_path(@boat, @job), method: :delete %>

</div>