<%= render 'users/navbar' %>

<div class="user-profile">

    <!-- If there is a current user, display home page -->
  <% if current_user %>

  <div class="user-info">
    <%= image_tag current_user.photo.url(:medium) %>
    <h1 style="display: inline;">
    <%= current_user.fname %>
    <%= current_user.lname %>
    </h1> | <%= link_to 'Edit Profile', edit_user_registration_path(@user) %>

  </div>

  <div class="all-boats">
    <h1>Your boats:</h1>
        <%= link_to 'Create New Boat', new_boat_path %>
    <% if @boats.length > 0 %>
      <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Earnings</th>
          </tr>
          <% @boats.each do |boat| %>
            <tr>
              <td><%= link_to boat.name, boat_path %></td>
              <td><%= boat.location %></td>
              <td><%= boat.storage %></td>

              <!-- Count earnings from total current jobs -->
              <% earnings_count = 0 %>
              <% boat.jobs.each do |job| %>
                <% earnings_count += job.cost %>
              <% end %>
              <td><%= earnings_count %></td>
            </tr>
        </table>
      </div>
      <br>
      <% end %>
    <% else %>

      <p>You have no boats.</p>

  	<% end %>

  </div>
  <% end %>

</div>