
<body>
  <div class="user-profile" class="page">
    <!-- If there is a current user, display home page -->
    <% if current_user %>
    <%= render 'users/navbar' %>

      <div class="user-info">
        <table>
          <tr>
            <td>
              <%= image_tag current_user.photo.url(:medium) %>
            </td>
            <td>
              <h1 style="display: inline;">
              <%= current_user.fname %> <%= current_user.lname %>
              </h1> | <%= link_to 'Edit profile', edit_user_registration_path(@user) %>
            </td>
          </tr>
        <table>
      </div>

      <div class="all-boats">
        <h2 style="display: inline;">Your boats:</h2> | <%= link_to 'Create new boat', new_boat_path %>

        <!-- If there are boats, show boats -->
        <% if @boats.length > 0 %>

          <div class="boats">
            <table style="margin-top: -30px;">
              <tr>
                <th style="padding: 5px 20px;">Name</th>
                <th style="padding: 5px 20px;">Location</th>
                <th style="padding: 5px 20px;">Capacity</th>
                <th style="padding: 5px 20px;">Earnings</th>
              </tr>

              <!-- All boats for that user -->
              <% @boats.each do |boat| %>
                <tr>
                  <td style="padding: 5px 20px;"><%= link_to boat.name, boat_path(boat.id) %></td>
                  <td style="padding: 5px 20px;"><%= boat.location %></td>
                  <td style="padding: 5px 20px;"><%= boat.storage %></td>

                    <!-- Count earnings from total current jobs -->
                    <% earnings_count = 0 %>
                    <% boat.jobs.each do |job| %>
                      <% earnings_count += job.cost %>

                    <!-- End of earnings count -->
                    <% end %>
                  <td style="padding: 5px 20px;">$<%= earnings_count %></td>
                </tr>
              <!-- End of going over all boats -->
              <% end %>
            </table>
          </div>

        <!-- If there are no boats to show -->
        <% else %>

          <p>You have no boats.</p>

        <!-- End of show/no show boats -->
        <% end %>
      </div>

  <!-- End of if there is a current user, show home page -->
  <% end %>

  </div>

</body>