<%= render 'users/navbar' %>

<div class="user-profile">

    <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <div class="all-boats">
    <% if @boats.length > 0 %>
        <% @boats.each do |boat| %>
      <div>
        <table>
            <tr>
              <td>
              	<%= boat.name %>
              	<%= boat.location %>
              	<%= boat.storage %>
              </td>
            </tr>
        </table>
      </div>
      <br>
      <% end %>
    <% else %>

      <p>You have no boats.</p>

  	<% end %>

  </div>


  <!-- If no current user, go to login page -->
  <% else %>

    <%= render 'users/login' %>

  <% end %>

</div>