<div class="form">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :boat_name %>
    </div>

    <div class="field">
      <%= form.label :storage %>
      <%= form.text_field :storage, id: :boat_storage %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, id: :boat_location %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
</div>