<div class="form">

  <div class="form-table">
  <%= form_with(model: boat, local: true, url: url) do |form| %>

  <table>
    <tr class="field">
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name, id: :boat_name %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :storage %></td>
      <td><%= form.number_field :storage, id: :boat_storage %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :location %></td>
      <td><%= form.text_field :location, id: :boat_location %></td>
    </tr>
    <tr class="actions">
      <td></td>
      <td><%= form.submit %></td>
    </tr>

  </table>
    <% end %>

  </div>
</div>