

<div class="boat-profile" class="page">
	<%= render 'users/navbar' %>

	<h1 class="title" style="display: inline;"><%= @boat.name %></h1> | <%= link_to 'Edit boat', edit_boat_path(@boat) %><br>
	<p>Storage capacity: <%= @boat.storage %></p>
	<p>Current location: <%= @boat.location %></p>

	<h2>Current Jobs:</h2>

	<!-- Total number of containers -->
	<% container_count = 0 %>
	<% if @boat.jobs.length > 0 %>

	<table>
		<tr>
			<th>Type</th>
			<th>Origin</th>
			<th>Destination</th>
			<th># of Containers</th>
			<th>Cost</th>
		</tr>
		<% @boat.jobs.each do |job| %>
		<tr>
			<td style="width: 150px;"><%= link_to job.title, job_path(@boat.id, job.id) %></td> 
			<td style="width: 100px;"><%= job.origin %></td>
			<td style="width: 100px;"><%= job.destination %></td>
			<td><%= job.containers %></td><% container_count += job.containers %>
			<td style="width: 100px;">$<%= job.cost %></td>

			<td><%= link_to "x", delete_assignment_path(@boat.id, job.id), method: :delete, :class => "delete-assignment", remote: true %></td>
		</tr>
	<% end %>

	</table>
	<% else %>

		<p style="padding-bottom: 30px;">You have no current jobs.</p>

	<% end %>

	<h2 style="display: inline;">Available Jobs:</h2> | <%= link_to "Create new job", new_job_path(@boat.id) %>

	<% if @origin_assignments.length > 0 %>

	<table>
		<tr>
			<th>Title</th>
			<th>Origin</th>
			<th>Destination</th>
			<th># of Containers</th>
			<th>Cost</th>
			<th></th>
		</tr>
		<% @origin_jobs.each do |job| %>
			<% unless job.assignments.any? %>

		<tr>
			<td style="width: 150px;"><%= link_to job.title, job_path(@boat.id, job.id) %></td> 
			<td style="width: 100px;"><%= job.origin %></td>
			<td style="width: 100px;"><%= job.destination %></td>
			<td><%= job.containers %></td>
			<td style="width: 100px;">$<%= job.cost %></td>

			<!-- If adding job would exceed capacity, will not show add job button -->
			<% if (container_count + job.containers) <= @boat.storage %>

			<td><%= link_to "+", add_assignment_path(@boat.id, job.id), :class => "add-assignment" %></td>

			<% end %>


		</tr>
		<% end %>
	<% end %>

	</table>

	<% else %>

		<p style="padding-top: 15px; padding-bottom: 30px;">There are no more available jobs.</p>

	<% end %>

		<%= link_to 'Delete Boat', delete_boat_path(@boat), method: :delete, :class => "delete-button" %>

</div>