<%= render 'users/navbar' %>

<div class="boat-profile">

	<h1 style="display: inline;"><%= @boat.name %></h1> | <%= link_to 'Edit Boat', edit_boat_path(@boat) %><br>
	Storage capacity: <%= @boat.storage %><br>
	Current location: <%= @boat.location %>

	<%= link_to 'Delete Boat', delete_boat_path(@boat), method: :delete %>

	<h2>Current Jobs:</h2>

	<!-- Total number of containers -->
	<% container_count = 0 %>

	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Origin</th>
			<th>Destination</th>
			<th># of Containers</th>
			<th>Cost</th>
		</tr>
		<% @boat.jobs.each do |job| %>
		<tr>
			<td><%= link_to job.title, job_path(@boat.id, job.id) %></td> 
			<td><%= job.description %></td>
			<td><%= job.origin %></td>
			<td><%= job.destination %></td>
			<td><%= job.containers %></td><% container_count += job.containers %>
			<td><%= job.cost %></td>

			<td><%= link_to "x", delete_assignment_path(@boat.id, job.id), method: :delete %></td>
		</tr>
	<% end %>

	</table>

	<h2>Available Jobs:</h2>

	<table>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Origin</th>
			<th>Destination</th>
			<th># of Containers</th>
			<th>Cost</th>
			<th></th>
		</tr>
		<% @origin_jobs.each do |job| %>
			<% unless job.assignments.any? %>
		<tr>
			<td><%= link_to job.title, job_path(@boat.id, job.id) %></td> 
			<td><%= job.description %></td>
			<td><%= job.origin %></td>
			<td><%= job.destination %></td>
			<td><%= job.containers %></td>
			<td><%= job.cost %></td>

			<!-- If adding job would exceed capacity, will not show add job button -->
			<% if (container_count + job.containers) <= @boat.storage %>

			<td><%= link_to "Add", add_assignment_path(@boat.id, job.id) %></td>

			<% end %>

		</tr>
		<% end %>
	<% end %>

	</table>

</div>